# CIRCLE CI IS ONLY USED FOR STAGING AND DEVELOPMENT

version: 2.1

jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: 'Setup env variables'
          command: echo 'export DOCKER_TAG="docker.pkg.github.com/linkorb/${CIRCLE_PR_REPONAME}/${CIRCLE_PR_REPONAME}:pr-${CIRCLE_PR_NUMBER}"' >> $BASH_ENV
      - run:
          name: 'Setup env variables'
          command: echo 'export NAME="${CIRCLE_PR_REPONAME}"' >> $BASH_ENV
      - run:
          name: 'echo test'
          command: echo $DOCKER_TAG
      - run:
          name: Docker login
          command: echo "$DOCKER_PASSWORD" | docker login docker.pkg.github.com --username 'linkorb-automation' --password-stdin
      - run:
          name: Build the Docker image
          command: docker build . --tag "$DOCKER_TAG" --file Dockerfile.qa
      - run:
          name: QA checks
          command: docker run --name ${CIRCLE_PR_REPONAME}-qa -v=${PWD}:/app --rm "${DOCKER_TAG}" sh -c 'cd /app && composer run qa-checks'
      - run:
          name: Docker push with PR ID
          command: docker push "${DOCKER_TAG}"
      - run:
          name: Deploy to staging server
          command: curl "https://webhook.linkorb.com/staging-create/create?name=${CIRCLE_PR_REPONAME}&tag=pr-${CIRCLE_PR_NUMBER}&image=${CIRCLE_PR_REPONAME}/${CIRCLE_PR_REPONAME}"

workflows:
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - master
